<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>List of Persons </h1>
    <!-- Add a new person-->
    <a href="addPerson">Add Person</a>
    <br><br>
    <div>
        <table>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
            <tr th:each="person:${persons}">
                <!-- person.firstName is equal to person.getFirstName1 from Person class-->
                <!-- the get will be auto added in-->
                <td th:text="${person.firstName1}">...</td>
                <td th:text="${person.lastName1}">...</td>
            </tr>
        </table>
    </div>
</body>
</html>